.main {
  background-color: rgb(229, 233, 241);
  border-radius: 20px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  input {
    padding: 15px;
    border: 0;
    outline: none;
    background-color: rgb(229, 233, 241);
    border-radius: 20px;
    font-weight: bold;
    width: 100%;
  }
}
